@charset "utf-8";
*{
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
body{
	font-family:"微软雅黑";
	color:#14191e;
}
.main{
	width:1200px;
	height:460px;
	margin:30px auto;
	position:relative;
	overflow: hidden;
}
.banner{
	width: 1200px;
	height: 460px;
	overflow: hidden;
	position:relative;
}
.banner-slide{
	width: 1200px;
	height: 460px;
	position:absolute;
	background-repeat:no-repeat;
	float: left;
	display:none;
}
.slide-active{
	display:block;
}
.slide1{
	background-image:url("http://or98sir3g.bkt.clouddn.com/bg1.jpg");
}
.slide2{
	background-image:url("http://or98sir3g.bkt.clouddn.com/bg2.jpg");
}
.slide3{
	background-image:url("http://or98sir3g.bkt.clouddn.com/bg3.jpg");
}
.button{
	position:absolute;
	transform: rotate(180deg);
	width: 40px;
	height: 80px;
	left:244px;
	top:50%;
	margin-top:-40px;
	background:url("http://or98sir3g.bkt.clouddn.com/arrow.png") center center no-repeat;
}
.button:hover{
	background-color:#333;
	opacity:0.6;
	filter:alpha(opacity=60);
}

.next{
	transform: rotate(0deg);
	left:auto;
	right:0;
}
.dots{
	position:absolute;
	right:0;
	bottom:24px;
	text-align:right;
	padding-right: 24px;
	line-height: 12px;
}
.dots span{
	display:inline-block;
	width:12px;
	height:12px;
	border-radius:50%;
	background-color:rgba(7,17,27,0.4);
	box-shadow:0 0 0 2px rgba(255,255,255,0.8) inset; 
	margin-left:8px;
	cursor: pointer;
}
.dots span.active{
	box-shadow:0 0 0 2px rgba(7,17,27,0.4) inset;
	background-color:#fff ;
}














